[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-select2 = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
uvicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
