<!-- spoiledpotato/templates/spoiledpotato/base.html -->
{% load static %}
<html>

<head>
  <title>SpoiledPotato</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  <h1>SpoiledPotato</h1>
  <nav>
    <form method="GET" action="{% url 'search_view' %}" class="navbar-search">
      <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}">
      <button type="submit">Search</button>
    </form>
    <a href="/actors">Actors</a>
    <a href="/">Movies</a>
  </nav>
  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>

</html>