{% extends 'spoiledpotato/base.html' %} {% block content %}
<h2>{{ movie.title }} <a href="{% url 'movie_edit' pk=movie.pk %}">(edit)</a></h2>
<h4>Runtime: {{ movie.length }}</h4>
<h4>Rating: {{ movie.rating }}</h4>

<img src="{{ movie.preview_url }}" alt="" class="movie-photo" />

<a href="{% url 'movie_delete' pk=movie.pk %}">Delete</a>

<h3>Actors <a href="">(+)</a></h3>
<ul>
    {% for actor in movie.actors.all %}

    <li>
        <a href="{% url 'actor_detail' pk=actor.pk %}">{{ actor.name }}-{{ actor.birthday }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}